APP_NAME=NodeTemplate
APP_ENV=local
APP_PORT=3000
APP_KEY=bmF2aXdpc2VkZXZ2ZmFAKSEo
APP_DEBUG=true
APP_URL=http://localhost:3000
TIMEZONE_TEXT=Asia/Tokyo
TIMEZONE_NUM=+09:00

DB_CONNECTION=mysql
RDS_HOST=0.0.0.0
RDS_PORT=3306
RDS_DATABASE=db_template
RDS_USERNAME=devUser
RDS_PASSWORD=123456
