  /**
   * @author: {{devName}}
   * @date: {{generatedDate}}
   * API {{apiName}}
   * Add new record
   * @param user: user authenticated
   * @param params: {url: string, comment:string}
   * @returns new inserted record
   */
  @Mutation('{{apiName}}')
  async {{apiName}}(@GqlUser() user: UsersEntity, @Args('params') params) {
    const data = await this.{{name}}Service.{{apiName}}(user, params);
    return this.response(data);
  }