  /**
   * @author: {{devName}}
   * @date: {{generatedDate}}
   * API {{apiName}}
   * Delete record
   * @param user: user authenticated
   * @param id: number
   * @returns boolean
   */
  @Mutation('{{apiName}}')
  async {{apiName}}(@GqlUser() user: UsersEntity, @Args('id') id: number) {
    const data = await this.{{name}}Service.{{apiName}}(id, user);
    return this.response(data);
  }