  /**
   * @author: {{devName}}
   * @date: {{generatedDate}}
   * API {{apiName}}
   * Update record by id
   * @param user: user authenticated
   * @param id: number
   * @param params
   * @returns updated record
   */
  @Mutation('{{apiName}}')
  async {{apiName}}(@GqlUser() user: UsersEntity, @Args('id') id: number, @Args('params') params) {
    const data = await this.{{name}}Service.{{apiName}}(id, params, user);
    return this.response(data);
  }